<p></p>

<p><%= link_to "Video Overview", "https://www.youtube.com/embed/lJb3HcyTTIM", target: "_blank" %></p>

<p><%= link_to "Blog Post", "http://denisbondin.com/trading_journal_app_-_rails_project", target: "_blank" %></p>

<p><%= link_to "Github Repository", "https://github.com/dsbondin/trading-journal-rails-project", target: "_blank" %></p>
