<h3>Instruments</h3>

<% @instruments.each do |i| %>
  <p>
    <!-- Creating different links depending on the presence of @trader instance -->
    <% if @trader %>
      <%= link_to i.symbol, trader_instrument_path(@trader, i) %>
    <% else %>
      <%= link_to i.symbol, instrument_path(i) %>
    <% end %>
  </p>
<% end %>
